:root{
    --primary: #007bff;
    --lightprimary: #0056b3;
    --white: : #ffffff;
    --silver: #bcbcbc9e;
    --defaultLinkColor: #333;
    --yellow: #ffd700;
    --muted: #777777;
    --whiteBG: #f8fafc;

    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
section {
    margin-top: 50px;
}
body {
    position: relative;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255 255 255 /0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 10;
}
header button {
    cursor: pointer;
    justify-content: space-between;
    text-align: center;
    text-decoration: 0;
    font-size: 17px;
    background-color: #007bff;
    color: #f8fafc;
    width: 150%;
    height: 60px;
    border-radius: 12px;
   
}
.section button {
   
    display: flex;
    background-color: white;
    

    
}
.menu {
    display: flex;
    
}
0.logo {
    color: #27ae60;
    font-weight: 700;
    font-size: 25px;
}

.menu li {
   margin: 0 15px;
   list-style: none;
}
.menu li a {
    font-size: 14px;
    text-decoration: 0;
    color: #999;
    position: relative;
}
.menu li a::before {
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #27ae60;
    transition: 0.5s;
}
.menu li a:hover::before {
    width: 100%;
}
.menu li a::after {
    position: absolute;
    bottom: -5px;
    right: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #27ae60;
    transition: 0.5s;
}
.menu li a:hover::after {
    width: 100%;
}
.menu li a:hover {
    color: #000;
}

#home {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: calc(100vh - 50px);
    justify-content: space-between;
}
#home .left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#home .left h4 {
    font-size: 20px;
    color: #27ae60;
}
#home .left h1 {
    font-size: 45px;
    margin-bottom: 40px;
}
#home .left p {
    font-size: 18px;
    line-height: 1.5;
    color: #999;
    margin-bottom: 40px;
}
.button-container {
    display: flex;
  }
  
  .space {
    width: 50px; 
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .button1 {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    width: 180px;
    height: 50px;
    font-size: 16px;
  }
  
  .button2 {
    cursor: pointer;
    background-color: transparent; 
    color: rgb(33, 7, 7);
    border-radius: 8px;
    width: 180px;
    height: 50px;
    font-size: 16px;
  }


/* #home .left button {
    justify-content: space-between;
    text-align: center;
    text-decoration: 0;
    font-size: 17px;
    background-color: #007bff;
    color: #f8fafc;
    width: 30%;
    height: 50px;
}
/* #home .left button  a {
    text-decoration: 0;
    color: #fff;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    transition: 0.5s;
} */ */

#home .left button::before {
    position: absolute;
    left: 5px;
    top: 5px;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #27ae60;
}

#home span {
    color: #ffd700;
}

#home .left button:hover a{
   letter-spacing: 1px;
}

#home .right {
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .right img {
    width: 100%;
    animation: animate 2s linear;
    transition: 0.5s;
}



#bas {
    background-color: #007bff;
    margin-top: 50px;
    display: flex;
    align-items: center;
    /* margin-left: 10%;
    margin-right: 10%; */
    height: calc(45vh - 20px);
    justify-content: space-between;
}
.services_list {

    padding: 10px 10%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    text-align: center;
  
    margin-left: 0%;
    margin-right: 5%;
    font-size: 10px;
   
 
}
.service img {

    width: 40px;
    
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;

}
.service {
    background-color: #f8fafc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto;
    margin: 20px;
    height: 100px;
    border-radius: 12px;

}
.service1 {
    border-radius: 12px;
    background-color: #f8fafc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto;
    margin: 20px;
    height: 100px;

}
.service2 {
    background-color: #f8fafc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto;
    margin: 20px;
    height: 100px;
    border-radius: 12px;

}
/* .service  h2 {
    
    color: #333;
} */
#bas .left {
    margin-left: 10%;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f8fafc;
}
#bas .left h5 {
    font-size: 20px;
    color: #f8fafc;
}
#bas .left h2 {
    font-size: 38px;
    color: #f8fafc;

}









/* css provide */

#provide {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: calc(100vh - 50px);
    justify-content: space-between;
}
#provide .right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.right .right-bottom  {
    display: grid;
    grid-template-columns: repeat(2, 300px);


}

.right .right-bottom .shield-top div {
    display: flex;
    padding: 10px;
    height: 28%;
}
.right .right-bottom .shield-top p {
    font-size: 20px;
    margin-left: 15px;
}
.right .right-bottom .sheld-right div {
    display: flex;
    padding: 10px;
    height: 28%;
}
.right .right-bottom .sheld-right p {
    font-size: 20px;
    margin-left: 15px;
}

.right h2 {
    font-size: 22px;
    text-align: center;
    margin-right: 70px;
    margin-bottom: 40px;
}




#provide .left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#provide .left img {
    width: 100%;
 
}

/* make CSS */
                    
section #make {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: calc(100vh - 50px);
    justify-content: space-between;
    
}
.contener {
    margin-top: 0%;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: calc(30vh - 20px);
    justify-content: space-between;
    
}
.contener .left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
section #make .left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#make .right h1  {
    font-size: 50px;
    
}    
#make .right h1 span{
    color: #ffd700;
}

#make .left h2 {
    font-size: 40px;
}  

.dishes {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
}
.dishes .dish {
    height: 280px;
    width: 30%;
    background-color: #fff;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    margin-bottom: 35px;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.dishes .dish  img {
    width: 130px;
    height: 120px;
    margin-bottom: 15px;
}
.dishes .dish p {
    text-align: center;
    font-size: 18px;

}
.dishes .dish h3 {
    text-align: center;
    font-size: 15px;

}

.dishes .dish a {
    margin-top: 10px;
    font-size: 14px;
    text-decoration: 0;
    background-color: #27ae60;
    padding: 5px 60px;
    color: #fff;
    border-radius: 6px;
}

.dish1 {
    padding-top: 0px;
    background-color: #007bff;
    margin-top: 100px;
    align-items: center;
    padding-bottom: 0px;
    padding-left: 0px;
   
    height: 400px;
    

}
.dish1 h1 {
    justify-content: space-between;
    text-align: center;
    text-decoration: 0;
    margin-top: 20px;
    font-size: 32px;
     /* margin-bottom: 5%; */
    color: #f8fafc;
    margin-top: 5px;
}
.dish1 h1 span {
    
    justify-content: space-between;
    text-align: center;
    text-decoration: 0;
    margin-top: 10px;
    font-size: 40px;
     margin-bottom: 5%;
    color: #f8fafc;
}

.dish1 p {
    justify-content: space-between;
    text-align: center;
    text-decoration: 0;
    margin-top: 20px;
    font-size: 18px;
     margin-bottom: 5%;
    color: #e4e3da;
    line-height: 1.5;

}
.dish1 button {
    cursor: pointer;
    justify-content: space-between;
    text-align: center;
    text-decoration: 0;
    font-size: 17px;
    color: white;

   
     
    background-color:transparent;
    border-radius: 10px;
    margin-left: 580px;
    width: 20%;
    height: 60px;

}

/* our History CSS */

.container {
    margin-top: 0%;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: calc(30vh - 20px);
    justify-content: space-between;
    
}
.contener::before {
    position: absolute;
    left: 370px;
    content: "";
    width: 1000px;
    height: 1px;
    background-color: #04140b;
    margin-bottom: -60px;
}
.container .left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.container .left h1  {
    font-size: 50px;
    
}    
.container .left h1 span{
    color: yellow;
}

.container .right h3 {
    font-size: 35px;
}  
.container .right h1 {
    font-size: 45px;

}  
.container::after {
    position: absolute;
    left: 20;
    content: "";
    width: 900px;
    height: 1px;
    background-color: #04140b;
    margin-bottom: -60px;
}

.right h1 {
    margin-left: 50px;
}

.history {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.history h3 {
    justify-content: space-between;

    text-decoration: 0;
    margin-top: 20px;
    font-size: 20px;
     margin-bottom: 5%;
    color: rgb(20, 1, 1);
}
.history p {
    justify-content: space-between;
    text-decoration: 0;
    margin-top: 20px;
    font-size: 15px;
     margin-bottom: 5%;
    color:#0056b3;
}


/* meet our CSS */

.doctors {
    margin-top: 0%;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: calc(10vh - 20px);
    justify-content: space-between;
    
}
.doctors .left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.doctors .left h2  {
    font-size: 35px;
    
}    
.doctors .left h1  {

    font-size: 50px;
    
}    




.doctors .right h1 {
    font-size: 40px;
}  
.doctors .right h1 span{
    color: #17c047;

}  
.doctors::before {
    position: absolute;
    left: 370px;
    content: "";
    width: 1000px;
    height: 1px;
    background-color: #04140b;
    margin-bottom: -60px;
}

.names {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    
}

.names .doctors-name {
    height: 300px;
    /* width: 10%; */
   
    padding: 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* border-radius: 6px; */
    margin-bottom: 55px;
   

}
.names .doctors-name  img {
    width: 190px;
    height: 180px;
    /* margin-bottom: 0px; */
}
.names .doctors-name h1 {
   
    text-align: center;
    font-size: 18px;
    margin-top: 10px;

}


.doctors-name {
    padding-top: 20px;
    
    margin-top: 100px;
    align-items: center;
   
    height: calc(30vh - 100px);
    

}
.doctors-name h1 {
    justify-content: space-between;
    text-align: center;
    text-decoration: 0;
    margin-top: 20px;
    font-size: 20px;
     margin-bottom: 5%;
    color: #777777;
}

.doctors-name p {
    font-size: 10px;
}

.doctors-name button {
    cursor: pointer;
    justify-content: space-between;
    text-align: center;
    text-decoration: 0;
    font-size: 17px;
    color: #007bff;
   
     
    background-color:transparent;
    border-radius: 10px;
    
    width: 80%;
    height: 100%;
    margin-top: 20px;

}

/* about us CSS */

.about-us {
    background-color: #007bff;
    display: flex;
    margin-bottom: -80px;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    /* margin-left: 10%;
    margin-right: 10%; */ 
}

section .Samantha {
    background-color: #f8fafc;
    height: 250px;
    width: 230px;
    
}
.Samantha {
    text-align: center;
}
.Samantha img {
    height: 200px;
    width: 200px;
}

.Samantha h2 {
    font-size: 15px;
    margin-top: 10px;
}

.about-us h3 {
    justify-content: space-between;

    text-decoration: 0;
    margin-top: 20px;
    font-size: 25px;
     margin-bottom: 5%;
    color: #f8fafc;
}
.about-us p {
    justify-content: space-between;
    text-decoration: 0;
    margin-top: 20px;
    font-size: 20px;
     margin-bottom: 5%;
    color: #f8fafc;
}

/* who we are CSS */

.consult {
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* margin-left: 10%;
    margin-right: 10%; */
    height: calc(30vh - 20px);
    justify-content: space-between;
    
}


#consult{
    margin-top: 300px;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-bottom: 300px; */
    
}
.consult .left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.consult .left h1  {
    font-size: 30px;
    
}    
.consult .left h1 span{
    color: #ffd700;
}

.consult .right h3 {
    font-size: 30px;
}  
.consult .right h1 {
    font-size: 40px;
    margin-left: 100px;

}  
.consult::after {
    position: absolute;
    left: 20;
    content: "";
    width: 900px;
    height: 1px;
    background-color: #04140b;
    margin-bottom: -60px;
}


#reservation {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
#reservation .image {
    display: flex;
    margin-top: 0;
    height: 600px;
}

#reservation form {
    display: flex;
    background-color: white;
    /* background-color: rgba(0,0,0,0.05); */
    padding: 25px;
    border-radius: 6px;
    flex-direction: column;
    width: 350px;
}
#reservation form .phone {
    display: flex;
    /* background-color: rgba(0,0,0,0.05); */
    padding: 25px;
    border-radius: 6px;
    flex-direction: column;
    width: 350px;
}
#reservation form  label {
    margin-bottom: 8px;
    font-size: 14px;
    border-color: #000;
   
}
    #reservation form input {
border-color: #000;
    margin-bottom: 10px;
   padding: 12px;
   border: 1px solid transparent;
   box-shadow: 0 0 10px rgba(0,0,0,0.05);
   outline: 0;
   border: 1px solid black;
}
#reservation .phone {
    display: flex;
    /* background-color: rgba(0,0,0,0.05); */
    padding: 25px;
    border-radius: 6px;
    flex-direction: column;
    width: 350px;
}
#reservation .phone  label {
    margin-bottom: 8px;
    font-size: 14px;
}
#reservation .phone input {
    margin-bottom: 10px;
   padding: 12px;
   border: 1px solid transparent;
   /* box-shadow: 0 0 10px rgba(0,0,0,0.05); */
   outline: 0;
   border: 1px solid black;
}
#reservation .message {
    
   
    padding: 15px;
    border-radius: 6px;
    flex-direction: column;
    width: 350px;
}
#reservation .message  label {
    margin-bottom: 8px;
    font-size: 14px;
}
#reservation .message input {
    margin-bottom: 20px;
   padding: 60px;
   border: 1px solid transparent;
   /* box-shadow: 0 0 10px rgba(0,0,0,0.05); */
   outline: 0;
   width: 630px;
   border: 1px solid black;
   
}
#reservation form input:focus {
    outline: 1px solid #27ae60;
}
#reservation form input[type="submit"]{
    padding: 15px;
    width: 500px;
    border-radius: 10px;

    margin-top: 75px;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #27ae60;
    margin: 80px;
}


/* Souscribe to our newsletter CSS */

#souscribe {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    background-color: #0056b3;
    height: 260px;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 12px;
    
}

#souscribe .put1 {
    background-color: #bcbcbc9e;
    color: #f8fafc;
    height: 50px;
   
}



/* #souscribe .input {
    justify-content: space-between;
    text-align: center;
   
    
    color: #f8fafc;
    
   
     
 
   
   flex-direction: column;
    width: 100px;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-top: 40px;
   
} */
#souscribe button {
    justify-content: space-between;
    text-align: center;
    text-decoration: 0;
    font-size: 17px;
    background-color: #f8fafc;
    color: #000;
    width: 25%;
    height: 53px;
    border-radius: 10px;
    margin-left: 25px;

}

#souscribe input  {
    justify-content: space-between;
    text-align: center;
    width: 30%;
    height: 80px;
    background-color: #0056b3;
   color: #f8fafc;
   margin-top: 40px;
   margin-left: 15px;
   
}

#souscribe h1{
    text-align: center;
    color: #f8fafc;
    font-size: 40px;

}

/* footer CSS */

footer {
    margin-top: 60px;
    display: flex;
    align-items: center;
    display: flex;
    background-color: #007bff;
    color: #f8fafc;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    padding: 0 10%;
  
}

footer .logo img {
    margin-bottom: 40px;
    filter:brightness(0) invert(1);
}

footer .partie1 p {
    font-size: 15px;
    line-height: 2;
    
    margin-bottom: 20px; 
   
}
.partie1 {
    border-right: 2px solid;
    width: 250px;
    margin-left: 50px;
}

footer .partie2 h4 {
    font-size: 15px;
}
.partie2 {
    border-right: 2px solid;
    width: 250px;
    margin-left: 50px;
}
footer .partie2 p {
    font-size: 30px;
    margin-top: 10px;
}
footer .partie2 p span{
    font-size: 35px;
   
}
footer .partie2 h3{
    font-size: 12px;
    margin-top: 50px;
    line-height: 2;
   
}


footer .partie3 h6 {
    font-size: 14px;
    
    margin-bottom: 25px; 
}
/* .partie3 {
    border-right: 2px solid;
    width: 250px;
    margin-left: 50px;
    
} */
footer .partie3 a {
    font-size: 15px;
    line-height: 2;
    color: #e4e3da;
    
    margin-bottom: 30px; 
}
footer .partie4 a  {
    font-size: 15px;
    line-height: 2;
    color: #f8fafc;
    
    /* margin-bottom: 30px; */
}
.partie4 {
    border-right: 2px solid;
    width: 250px;
    margin-left: 50px;
    
}
footer .partie5 h6 {
    font-size: 12px;
   
    margin-bottom: 20px; /* Espacement entre les parties */
}
footer .partie5 h4 {
    font-size: 15px;
   
    margin-bottom: 20px; /* Espacement entre les parties */
}
footer .partie5 p {
    font-size: 12px;
   
    margin-bottom: 20px; /* Espacement entre les parties */
}
footer .partie5 h3 {
    font-size: 15px;
   
    margin-bottom: 20px; /* Espacement entre les parties */
}

.terminal {
    background-color: #0056b3;
    height: 80px;
    align-content: center;
    text-align: center;

}
.terminal h2 {
    font-size: 16px;
    text-align: center;
    
    color: #f8fafc;
    
    
}
